<h1>Harvesting</h1>
  
<p id="notice"><%= notice %></p>

<p>
  <b>Harvest:</b>
  <%= @harvesting.harvest.harvest_name %>
</p>

<p>
  <b>Person:</b>
  <%= @harvesting.harvester.full_name %>
</p>

<p>
  <b>Hours:</b>
  <%= @harvesting.hours %>
</p>

