<h1>Canning Work Log</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Canning session:</b>
  <%= @canning.canning_session.session_name %>
</p>

<p>
  <b>Canner:</b>
  <%= @canning.canner.full_name %>
</p>

<p>
  <b>Hours integer:</b>
  <%= @canning.hours %>
</p>


